<h2>DFB Nigeria :: <small>Staff Database</small></h2>

<div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">
      <table summary="This table shows list of staffs in the Damien Foundation Belgium (Nigeria) database" class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Position</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @staffs.each do |staff| %>
          <tr>
            <td><%= staff.fname %></td>
            <td><%= staff.lname %></td>
            <td><%= staff.position %></td>
            <td><%= staff.phone %></td>
            <td><%= staff.email %></td>
            <td>
              <%= link_to "View", staff, class: "btn btn-success" %>
              <%= link_to "Edit", edit_staff_path(staff), class: "btn btn-warning" %>
              <%= link_to "Delete", "#", class: "btn btn-danger" %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div><!--end of .table-responsive-->
  </div>
  <div class="col-md-4 col-md-offset-4">
    <%= link_to raw("&laquo; Add A New Staff &raquo;"), new_staff_path, class: "btn btn-primary btn-lg btn-block" %>
  </div>
</div>
