<div class="row">
  <h2><strong>Detailed Profile:</strong> <%= "#{@staff.fname} #{@staff.lname}" %></h2>
  <div class="profile-photo text-center mb-2">
    <img src="https://via.placeholder.com/150x150" alt="" class="img-circle img-thumbnail">
  </div>
  <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title text-right">Personal Details</h3>
      </div>
      <div class="panel-body">
        <strong>Full Name:</strong> <%= "#{@staff.fname} #{@staff.lname}" %> <br>
        <hr>
        <strong>Address: </strong> <%= @staff.address %> <br>
        <hr>
        <strong>Email Address: </strong> <%= @staff.email %> <br>
        <hr>
        <strong>Phone: </strong> <%= @staff.phone %> <br>
        <hr>
        <strong>Date of Birth: </strong> <%= @staff.dob %> &mdash; <strong><%= age(@staff.dob) %> Years Old</strong> <br>
        <hr>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title text-right">Staff Details</h3>
      </div>
      <div class="panel-body">
        <strong>Staff Number:</strong> <%= @staff.staff_id %> <br>
        <hr>
        <strong>Status:</strong> <%= @staff.status %> <br>
        <hr>
        <strong>Position:</strong> <%= @staff.position %> <br>
        <hr>
        <strong>Department: </strong>
          <%= @staff.department.dept_name %>
          <ul>
            <% if @staff.categories.any? %>
              <% @staff.categories.each do |cat_staff| %>
              <li>&mdash; <%= cat_staff.title %></li>
              <% end %>
            <% end %>
          </ul>
        <hr>
        <strong>Staff Since: </strong> <%= @staff.staff_since %> &mdash; <strong><%= time_ago_in_words(@staff.staff_since) %> ago</strong> <br>
        <hr>
      </div>
    </div>
  </div>


  <div class="col-md-4">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title text-right">More Details</h3>
      </div>
      <div class="panel-body">
        <strong>On Leave?: </strong> Coming soon <br>
        <hr>
        <strong>Remaining Leave Days: </strong> Coming soon <br>
        <hr>
        <strong>Leave Tye: </strong> Coming Soon <br>
        <hr>
        <strong>Organization/Donor: </strong> Coming soon <br>
        <hr>
        <strong>Associated Documents: </strong> (3) Coming soon <br>
        <hr>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3 class="text-center">Job Description</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro provident similique nulla ipsa tempore. Temporibus rerum ad, accusamus, ipsum voluptatum suscipit. Libero pariatur, sint obcaecati eveniet ipsum commodi omnis iste ipsam, quis iure eius distinctio alias, ab ut aut velit cupiditate numquam? Praesentium aliquam aliquid, cumque ut id fugit deserunt! Non magnam hic, eos, qui iusto, quia excepturi aliquid quibusdam saepe suscipit neque tempora. Voluptas nulla provident delectus recusandae! Ipsa sed placeat iusto molestias. Sunt quam, nostrum maxime commodi nobis aliquam, error provident veniam tenetur doloribus deserunt sed ea! Quam distinctio qui expedita blanditiis corporis sit enim quod voluptatum modi.
    </p>
  </div>
  <div class="col-md-6">
    <h3 class="text-center">Leave History</h3>
    <p>Displaying last 3 leave dates: </p>
    <ul>
      <li>Leave Date: Coming Soon</li>
      <li>Leave Type: Coming Soon</li>
      <hr>
      <li>Leave Date: Coming Soon</li>
      <li>Leave Type: Coming Soon</li>
      <hr>
      <li>Leave Date: Coming Soon</li>
      <li>Leave Type: Coming Soon</li>
    </ul>
  </div>
</div>

<div class="row">
  <h3 class="text-center">Resume</h3>
  <div class="col-md-4 text-center">
    <h4>Resume Title</h4>
    <img src="https://via.placeholder.com/200x200" alt="">
  </div>
  <div class="col-md-4 text-center">
    <h4>Resume Title</h4>
    <img src="https://via.placeholder.com/200x200" alt="">
  </div>
  <div class="col-md-4 text-center">
    <h4>Resume Title</h4>
    <img src="https://via.placeholder.com/200x200" alt="">
  </div>

  <div class="col-md-4 text-center">
    <h4>Resume Title</h4>
    <img src="https://via.placeholder.com/200x200" alt="">
  </div>
  <div class="col-md-4 text-center">
    <h4>Resume Title</h4>
    <img src="https://via.placeholder.com/200x200" alt="">
  </div>
  <div class="col-md-4 text-center">
    <h4>Resume Title</h4>
    <img src="https://via.placeholder.com/200x200" alt="">
  </div>
</div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center mt-2">
      <div class="btn-group btn-group-md">
        <%= link_to "Back", root_path, class: "btn btn-success btn-lg" %> <%= link_to "Edit Profile", edit_staff_path(@staff), class: "btn btn-warning btn-lg" %> <%= link_to "Delete Profile", @staff, method: :delete, data: { confirm: "Confirm Staff Deletion?" }, class: "btn btn-danger btn-lg" %>
      </div>
    </div>
  </div>
